<header>
	<span class="headerTitle">Top Rated Amenities In and Around {{listingName}}</span>
</header>
<div>
	<!--  Main Content -->
	<div class="mainContent">
		<div class="carouselContainer"><carousel-container [slides]=contentList [listing]=listingName></carousel-container></div>
		<div class="amenities">
			<table>
				<tr *ngFor="let row of amenitiesList">
					<td>
						<i class="fa {{row.icon}}" aria-hidden="true"></i>
					</td>
					<td>
						<h1>{{row.label}}</h1>
						<p>{{row.quantity}} near this listing</p>
					</td>
					<td>
						See All <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</td>
				</tr>
			</table>
			<button class="seeAll">
	            <i class="fa fa-home" aria-hidden="true"></i> 
	            <span>See All Amenities</span>
	            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        	</button>
		</div>
	</div>
	<!--  Sidebar -->
	<div class="sidebar">			
		<button class="verticalSlider"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
		<ul>
			<li (click)="onClick(item.label)" class="listItem" *ngFor="let item of sidebarList">
				<i class="goTo fa fa-share" aria-hidden="true"></i>
				<i class="listIcon fa {{item.icon}}" aria-hidden="true"></i>
				<h1>{{item.label}}</h1>
			</li>
		</ul>
		<button class="verticalSlider"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
	</div>
<div>
<footer>
	<span class="footerInfo">Amenity information provided by <img src="./images/yelp_logo.png"/></span>
</footer>